

.header{
    background:black;
}

    .menu{
        display: flex;
        height: 50px;
        background: purple;
        border: 15px solid black;
    }



        .flex1{
            
            /*  flex-basis: 25%;*/
            justify-content: space-around;
            align-items: center;
            flex: 1 1 auto;
            padding:0;
            margin: 0;
            background: orangered;
            margin: 15px;
            padding: 3px;
            
        }

        .flex2{
            
            /*flex-basis: 50%;*/
            justify-content: space-around;
            align-items: center;
            flex: 5 1 auto;
            padding:0;
            margin: 0;
            background: orangered;
            margin: 15px;
            padding: 3px;
            
        }
.container-two{
    border: 15px solid black;
    display: flex;
    height: 50px;
    background:orange;
    margin-bottom: 20px;
    border-top: none;
}

.container-two > h1{

    background:yellow;
    flex-basis: 100%;
    padding: 5px;
    margin: 15px;
    align-items: center;
}

.section{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background: black;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ];
    border: 6px solid black;
    margin-bottom: 20px;
}


.articulos{
    display: flex;
    flex-wrap: wrap;
    background: blue;
    justify-content: space-between;
    flex-grow: 2;
    padding: 5px;
    margin: 10px;
    align-items: center;
}



.elemento1bis {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 45%;
    height: 20px;
    background:lightblue;
    margin: 10px;
}

.elemento1bisbis{
    height: 20px;
    flex-basis: 100%;
    background: turquoise;
    margin:10px;
}

.aside{
    
    background: orangered;
    flex-grow: 1;
    padding: 5px;
    margin: 10px;
    align-items: center;
}

.aside > div {
    display: flex;
    height: 20px;
    background: yellow;
    margin: 10px;
   
}


.footer{
    display: flex;
    height: 50px;
    background: black;
    border: 6px solid black;

}

.footer > nav{

    background: yellow;
    flex-basis: 100%;
    padding: 5px;
    margin: 15px;
    align-items: center;
}

/* Responsive layout */
@media (max-width:700px){
    .section {
        flex-direction: column;
        border:yellow solid 10px;
        background: yellow;
        width: auto;
        
        
      }

      .elemento1bis{
        margin: 1px 10px;
      }

      .elemento1bisbis{
        margin: 1px 10px;
}

@media (max-width:500px){
    .menu{
        height: auto;
        flex-direction: column;

    }

    .flex1, .flex2{
        height: 20px;
    }

    .elemento1bis {
        display: flex;
        background: lightslategray;
        flex-wrap: wrap;
        flex-basis: 100%;
        height: 20px;
        margin: 5px 10px;
    }

    .elemento1bisbis{
        margin: 5px 10px;
        background: paleturquoise;
}

    .aside{
        background: coral;
    }

    .aside > div {
        background: papayawhip;
    }