.container-one{
    display: flex;
    height: 50px;
    background: purple;
    border: 6px solid black;
}



.flex1{
    
    justify-content: space-around;
    align-items: center;
    padding:0;
    margin: 0;
    flex-basis: 25%;
    background: orangered;
    margin: 15px;
    padding: 3px;
    
}

.flex2{
    
    flex-basis: 50%;
    justify-content: space-around;
    align-items: center;
    padding:0;
    margin: 0;
    background: orangered;
    margin: 15px;
    padding: 3px;
     
 }
.container-two{
    border: 6px solid black;
    display: flex;
    height: 50px;
    background:orange;
    margin-bottom: 20px;
}

.container-two > div{

    background:yellow;
    flex-basis: 100%;
    padding: 5px;
    margin: 15px;
    align-items: center;
}

.container-three{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background: black;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ];
    border: 6px solid black;
    margin-bottom: 20px;
}


.elemento1{
    display: flex;
    flex-wrap: wrap;
    background: blue;
    justify-content: space-between;
    flex-grow: 2;
    padding: 5px;
    margin: 10px;
    align-items: center;
}



.elemento1bis {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 45%;
    height: 20px;
    background:lightblue;
    margin: 10px;
}

.elemento1bisbis{
    height: 20px;
    flex-basis: 100%;
    background: turquoise;
    margin:10px;
}

.elemento2{
    
    background: coral;
    flex-grow: 1;
    padding: 5px;
    margin: 10px;
    align-items: center;
}

.elemento2 > div {
    display: flex;
    height: 20px;
    background: yellow;
    margin: 10px;
   
}


.container-four{
    display: flex;
    height: 50px;
    background: black;
    border: 6px solid black;

}

.container-four > div{

    background: yellow;
    flex-basis: 100%;
    padding: 5px;
    margin: 15px;
    align-items: center;
}
/* Responsive layout */
@media (max-width:700px){
    .container-three {
        flex-direction: column;
        border:yellow solid 10px;
        background: yellow;
        width: auto;
        
        
      }

      .elemento1bis{
        margin: 1px 10px;
      }

      .elemento1bisbis{
        margin: 1px 10px;
}